<div class="grid grid-center">
  <div class="col col-10">
    <%= for advertisement <- @ads do %>
      <%= render @view_module, "ad_item.html", advertisement: advertisement, conn: @conn %>
    <% end %>
  </div>
</div>
