<form action="<%= if @main_page do %><%= Routes.advertisement_path(@conn, :index) %><% end %>" method="get" accept-charset="utf-8">
<div class="grid">
  <div class="col col-10">
    <input type="text" value="<%= Map.get(@conn.query_params, "s") %>" name="s" id="ad-search" placeholder="Buscar Anuncios"/>
  </div>
  <div class="col col-2">
    <input type="submit" value="Buscar" class="button" />
  </div>
</div>
</form>
